*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.bg{
    width: 100%;
    height: 100%;
    margin: 0 auto;

    /*Backgrounds*/
    background-color: rgb(253, 177, 0);
    background-image: url('../imagens/R.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
