*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.bg{
    width: 100%;
    height: 200px;
    margin: 0 auto;

    /*Backgrounds*/
    background-color: rgb(253, 177, 0);
    background-image: url('../imagens/R.png');
    background-size: contain;
    background-position: -1%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.bg > .titulo{
    padding-top: 7%;
    text-align: center;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.box{
    height: 100%;
    margin: 0 auto;
    background-color: rgb(0, 22, 41);
    text-align: center;
}

.item{
    width: 30%;
    display: inline-block;
    color: aliceblue;
}

.item img{
    width: 15%;
}
.item p{
    text-align: center;
}