*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.box{
    width: 100%;
    padding: 90px 0;
    text-align: center;
}

.item{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px ;

    background-color: aqua;
    
    border: 1px solid black;
    box-sizing: border-box;
}

/*:nth-of-type(3n + 1): aplicara a cor para cada 3  elemento div*/
div .item:nth-of-type(3n + 1){
    background-color: blue;
}

.box div:last-of-type{
    background-color: blueviolet;
}