*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

form{
    width: 96%;
    max-width: 600px;
    margin:0 auto;
}

form fieldset{
    padding: 0 20px;
    border: 2px solid #000;
}

form legend{
    text-align: left;
    font-size: 18px;
    color: rgb(255, 166, 0);
}

form input[type=text]{
    display: inline-block;
    margin: 10px 0;
    width: 80%;
    padding: 10px 13px;
}

form input[type=text]:focus{
    background-color: rgb(255, 215, 182);
}

form select{
    width: 86%;
    margin: 10px 0;
    padding: 10px 0;
    display: inline-block;
}

form h2{
    margin: 10px 0;
}

.input{
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

div input span{
    margin-left: 20px;
    font-size: 20px;
    color: rgb(130, 130, 130);
}