*{
    margin: 0;
    padding: 0;
}

/*Predefinindo a altura */
html,body{
    height: 100%;
}

.box{
    width: 300px;
    margin: 0 auto;
    background-color: gray;
    overflow: hidden; /*Define o que qeremos que aconteça quando a div pai for utrapassada.*/
    overflow-x: auto; /*Apenas o overflow da horizontal*/
    /*Se não definirmos um valor para x o y vai ficar automatico também*/
}


